@page
@model SubjectManagementWebApplication.Models.Subjects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topics[0].TopicName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Topics) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TopicID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TopicID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TopicID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
