@page
@model SubjectManagementWebApplication.Pages.Topic.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubTopics[0].SubTopicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTopics[0].Topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SubTopics) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubTopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.TopicName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubTopicID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubTopicID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubTopicID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
